#app-root.app-xs.app-lg app-ticket-button {
  .custom-icon {
    width: 50px;
    height: 50px;
    vertical-align: middle;
  }
  div.text {
    font-size: 24px;
    top: 10px;
    margin-left: 20px;
  }
}

app-ticket-button {
  a {
    margin-top: 20px;
    opacity: 0.8;
    background-color: var(--black) !important;
    border: 1px solid var(--theme-primary-gold) !important;
  }
  .custom-icon {
    fill: var(--theme-primary-gold);
    width: 25px;
    height: 25px;
    vertical-align: top;
  }
  div.text {
    display: inline-block;
    font-size: 18px;
    position: relative;
    vertical-align: top;
    top: 0;
    margin-left: 10px;
    color: var(--theme-primary-gold);
    text-transform: uppercase;
  }
}