<div id="conference-preview-bg"></div>
<h1 class="page-title">Tickets</h1>
<div class="button-container">
  <a
    href="http://jfklancer-com.3dcartstores.com/product.asp?itemid=1269"
    class="btn btn-lg btn-block tier-1">
    <i class="fas fa-school"></i>
    Student Admission - $34.99
  </a>
</div>
<div class="button-container">
  <a
    href="http://jfklancer-com.3dcartstores.com/add_cart.asp?out=1&quick=1&item_id=1268"
    class="btn btn-lg btn-block tier-2">
    <i class="fas fa-address-card"></i>
    Adult Conference Only - $64.99
  </a>
</div>
<div class="button-container">
  <a
    href="http://jfklancer-com.3dcartstores.com/add_cart.asp?out=1&quick=1&item_id=1270"
    class="btn btn-lg btn-block tier-3">
    <i class="fas fa-user-astronaut"></i>
    Conference + Digital Download - $119.99
  </a>
</div>
