@use "../../../boot" as *;

#app-root.app-xs app-header {
  position: fixed;
  top: 0;
  background: var(--black);
  img {
    width: 200px;
  }
}

#app-root.app-lg app-header {
  header {
    width: 100%;
    img {
      width: 450px;
      margin-bottom: 20px;
    }
  }
} 

#app-root app-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 60px;
  z-index: 900;
  width: 100%;
}
