@use "../../../boot" as *;
#app-root.app-xs {
  header {
    img {
      width: 200px;
    }
  }
}
#app-root.app-xs.app-lg {
  header {
    width: 100%;
    img {
      width: 450px;
    }
  }
} 
#app-root header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 60px;
  position: relative;
  z-index: 4;
}