#app-root.app-xs app-speakers {
  .primary-thumbnail img,
  .secondary-thumbnail img,
  .secondary-thumbnail .fa-user-tie {
    width: 120px;
  }  
  .secondary-thumbnail .fa-user-tie {
    font-size: 6.5em;
    padding: 5px;
  }
}

#app-root.app-lg app-speakers {
  .primary,
  .secondary {
    text-align: center;
    justify-content: center;
  }
  .primary-thumbnail img,
  .secondary-thumbnail img,
  .secondary-thumbnail .fa-user-tie {
    width: 160px;
  }
  .secondary-thumbnail .fa-user-tie {
    font-size: 8.5em;
    padding: 10px;
  }
}

app-speakers {
  .primary,
  .secondary {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    text-align: center;
    justify-content: center;
    column-gap: 10%;
    flex-wrap: wrap;
  }
  .primary .primary-container {
    margin-bottom: 2em;
  }
  .secondary {
    row-gap: 2em;
  }
  .primary-thumbnail {
    flex-grow: 1;
    img {
      height: auto;
      border: 2px solid var(--theme-primary-navyblue);
    }
    h2 {
      margin: 0;
      color: var(--theme-primary-lightblue);
      font-size: 1.5em;
      font-weight: bold;
      -webkit-text-stroke: 1px #282828;
      text-shadow: 0px 4px 4px #282828;
    }
  }
  .secondary-thumbnail {
    flex-grow: 1;
    position: relative;
    flex: 1;
    flex-basis: 20%;
    height: auto;
    .fa-user-tie {
      color: var(--theme-primary-navyblue);
      background-color: var(--theme-primary-lightblue);
      border: 2px solid var(--theme-primary-navyblue);
    }
    img {
      padding: 0;
      border: 2px solid var(--theme-primary-navyblue);
    }
  }  
}
