<div id="conference-preview-bg"></div>

<app-toast [message]="toast.message"></app-toast>
<article class="login-panel transparency-container">
  <h1 class="page-title">Access Virtual Conference</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="input-group" [ngClass]="getTicketValidation()">
      <input
        class="form-control"
        type="text"
        name="ticket"
        formControlName="ticket"
        placeholder="Enter Ticket Number"
        size="17"
        maxlength="17"
        autofocus>
    </div>
    <div *ngIf="submitted && loginApiResponse" class="success-box">
      Access Granted.
    </div>
    <div *ngIf="submitted && !loginApiResponse" class="error-box">
      Invalid ticket. Please try again.
    </div>
    <button
      class="btn btn-lg"
      type="submit"
      [disabled]="!loginForm.valid">
      <i class="fas fa-lock"></i> Login
    </button>
  </form>
</article>