#app-root.app-xs {
  display: block;
}

#app-root.app-xs.app-md {
  display: block;
}

#app-root.app-xs.app-lg {
  display: block;
  #splash-wrapper {
    .intro {
      font-size: 1.8em;
      max-width: 700px;
      margin-top: 25px;
    }
    .why-attend {
      font-size: 20px;
      width: 500px;
    }
    .conference-date {
      font-size: 1.5rem;

      .cell {
        padding: 10px 20px;
      }
    }
  }
}

#splash-wrapper {
  .intro {
    font-size: 1em;
    margin-top: 15px;
  }
  .conference-date {
    display: flex;
    font-size: 1em;
    .date-range {
      font-weight: bold;
    }
    .month-year {
     display: block; 
    }
    .cell:first-child {
      border-right: 0px;
    }
    .cell {
      text-align: center;
      padding: 5px 10px;
      border: 1px solid #fff;
      background: rgb(8, 8, 45);
      background: rgba(8, 8, 45, 0.6);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";  
    }
  }
  .why-attend {
    margin-top: 60px;
    font-size: 16px;
  }
}
