<main>
  <div id="conference-preview-bg"></div>
  <p class="intro">
    Join us for an experience of education, discussion, and networking in the JFK
    assassination community. 
  </p>
  <section class="conference-date">
    <div class="cell">
      <div class="date-range">20 - 22</div>
      <div class="month-year">Nov 2020</div>
    </div>
    <div class="cell">
      <div>Virtual Conference</div>
    </div>
  </section>
  <app-ticket-button
    data-href="/tickets"
    data-text="Buy Tickets">
  </app-ticket-button> 
  <section class="countdown-container center">
    <count-down
      units="Days | Hours | Minutes | Seconds"
      end="November 20, 2020">
    </count-down>
  </section>
  <section class="why-attend">
    <h2>Why Attend?</h2>
    <p>
      Interested in the JFK assassination community? JFK Lancer is the longest
      running JFK assassination conference in the world. Join us for our 24th conference.
    </p>
  </section>
</main>
