<div class="countdown">  
  <div *ngFor="let time of display; let i = index" class="measurements {{time}}">
    <div class="circle">
      <svg viewBox="0 0 220 220" xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(110,110)">
          <circle r="100" class="e-c-base"/>
          <g transform="rotate(-90)">
            <circle r="100" class="e-c-progress"/>
            <g id="e-pointer">
              <circle cx="100" cy="0" r="8" class="e-c-pointer"/>
            </g>
          </g>
        </g>
      </svg>
      <div class="measurements-container">
        <div class="measurements-number">
          {{ (showZero && displayNumbers[i] < 10) ? '0' + displayNumbers[i].trim() : displayNumbers[i]}}
        </div>
        <span *ngIf="display[i+1]" class="divider"> {{divider}} </span>
        <div class="measurements-text">
          {{time}}
        </div>
      </div>
    </div>
  </div>
</div>
<ng-content></ng-content>