<nav>
  <input type="checkbox">
   <!-- Some spans mimicking a McDonald's hamburger -->
  <span class="hamburger"></span>
  <span class="hamburger"></span>
  <span class="hamburger"></span>
  <ul>
    <li class="nav-item">
      <a
        [routerLink]="['/']"
        class="nav-link btn btn-lg"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">
          Home
      </a>
    </li>
    <li class="nav-item">
      <a
        [routerLink]="['/speakers']"
        class="nav-link btn btn-lg"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">
          Speakers
      </a>
    </li>
    <li class="nav-item">
      <a
        [routerLink]="['/tickets']"
        class="nav-link btn btn-lg"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">
          Tickets
      </a>
    </li>
    <li *ngIf="!loggedIn" class="nav-item">
      <a
        [routerLink]="['/login']"
        class="login-link nav-link btn btn-lg"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">
          <i class="fas fa-lock"></i>  
          Login          
      </a>
    </li>
    <li *ngIf="loggedIn" class="nav-item">
      <a
        [routerLink]="['/logout']"
        class="login-link nav-link btn btn-lg"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">
        <i class="fas fa-unlock"></i>  
          Logout
      </a>
    </li>
  </ul>
</nav>
