<nav>
  <input type="checkbox">
   <!-- Some spans mimicking a McDonald's hamburger -->
  <span class="hamburger"></span>
  <span class="hamburger"></span>
  <span class="hamburger"></span>
  <ul>
    <li class="nav-item">
      <a
        [routerLink]="['/']"
        class="nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">
          Home
      </a>
    </li>
    <li class="nav-item">
      <a
        [routerLink]="['/speakers']"
        class="nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">
          Speakers
      </a>
    </li>
    <li class="nav-item">
      <a
        [routerLink]="['/tickets']"
        class="nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">
          Tickets
      </a>
    </li>
  </ul>
</nav>
