@use "../../boot" as *;

#app-root.app-xs {
  app-unauth-nav.header-links nav ul {
    margin-left: -60px;
  }  
}

#app-root.app-xs.app-lg {
  
  @include media-breakpoint-down(md) {
    app-unauth-nav.header-links {
      position: relative !important;
      left: 0;
    }  
  }
  app-unauth-nav.header-links {
    position: absolute;
    right: 0;
  }
}

app-unauth-nav.header-links {
  position: relative;
  nav {
    ul {
      margin: 0;
      li {
        list-style-type: none;
        display: inline-flex;
      }
    }
  }
  a {
    font-size: 24px;
    color: var(--theme-primary-gold);
    padding-left: 20px;
    &:hover {
      color: var(--theme-primary-gold);
    }
  }
}