<div id="splash-wrapper">
  <div id="conference-preview-bg"></div>
  <p class="intro">
    A unique experience of education, discussion, and networking in the JFK
    assassination community. 
  </p>
  <section class="conference-date">
    <div class="cell">
      <div class="date-range">20 - 22</div>
      <div class="month-year">Nov 2020</div>
    </div>
    <div class="cell">
      <div>Virtual Conference</div>
    </div>
  </section>
  <ticket-button
    data-href="http://jfklancer.com/Dallas2020/index.html"
    data-text="Buy Tickets">
  </ticket-button> 
  <section class="countdown-container center">
    <count-down
      units="Days | Hours | Minutes | Seconds"
      end="November 20, 2020">
    </count-down>
  </section>
  <section>
    <h2>Why Attend?</h2>
    <p class="why-attend">
      Interested in the JFK assassination community? JFK Lancer is the longest
      running JFK assassination conference in the world. Join us for our 24th conference.
    </p>
  </section>
</div>
