<div class="relative">
  <div id="border-top" class="gradient"></div>
</div>
<footer class="footer-distributed container">
  <div class="footer-left">
    <img
      src="/assets/images/jfk-lancer-logo.png"
      alt="JFK Lancer 2020 Conference"
      class="logo">

    <p class="footer-links">
      <a href="/">Home</a>
      |
      <a href="#">Speakers</a>
      |
      <a href="#">Schedule</a>
      |
      <a href="#">Tickets</a>
    </p>
    <p class="footer-company-name">
      © 2020 JFK Lancer<br>
      Hosted by AssassinationConference.com
    </p>
  </div>
  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p>
        Trophy Club, Texas - 76262
      </p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p>+1 817-371-1260,<br>
      +1 817-456-8074</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:dconwayjfklancer@gmail.com">dconwayjfklancer@gmail.com</a></p>
    </div>
  </div>
  <div class="footer-right">
    <p class="footer-company-about">
      <h2>About JFK Lancer</h2>
      JFK Lancer Productions & Publications is a historical research company specializing in the administration and assassination of President John F. Kennedy; founded in 1995 by Thomas A. Jones and Debra Conway.
    <div class="footer-icons">
      <a href="https://www.facebook.com/JFKLancer"><i class="fab fa-facebook"></i></a>
      <a href="http://www.twitter.com/JFKLancer"><i class="fab fa-twitter"></i></a>
      <a href="https://www.youtube.com/c/JFKLancerOnline/featured">
        <i class="fab fa-youtube"></i>
      </a>
      <a href="https://visitor.r20.constantcontact.com/manage/optin?v=001di37zJsNt7SuFmV3NZqWdopWIW4CSwewxWjvqe2NOBqQ6LVJ44YOr-c99Tow6l6FwWXkI4-BPy9Sgac4rrAVmyxMtnlm4dkQMqCwfN3hdyY_QSac4lUg75JCe2VrSx4zZDtKbxt3oppzE0pt2Anr9_OID4VPWXJB&fbclid=IwAR2WVL4wt2OgQkb_IRpky27klIqjPC3WeXXOPZH2dr-DCQrnjq5XLi_b9hc">
        <i class="fas fa-envelope-open-text"></i>
      </a>
    </div>
  </div>
</footer>