@use "../../../boot" as *;
#app-root.app-xs.app-lg {
  header {
    width: 100%;
  }
} 
header {
  display: block;
  position: relative;
  z-index: 4;
  margin-bottom: 20px;
  .conference-logo {
    width: 450px;
    height: auto;
  }
}