<div id="conference-preview-bg"></div>
<main *ngIf="allSpeakers">
  <h1 class="page-title">Speakers</h1>
  <article class="speakers primary">
    <div *ngFor="let speaker of primarySpeakers">
      <div class="thumbnail primary">
        <a
          [routerLink]="['/speakers/' + speaker.link]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}">
          <img src="{{ speaker.thumbnail }}" alt="{{ speaker.name }}">
          <h2>{{ speaker.name }}</h2>
        </a>
      </div>
    </div>
  </article>
  <article class="speakers secondary">
    <div *ngFor="let speaker of secondarySpeakers">
      <div class="thumbnail secondary">
        <a
          *ngIf="speaker.bio"
          [routerLink]="['/speakers/' + speaker.link]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}">
          <img src="{{ speaker.thumbnail }}" alt="{{ speaker.name }}">
          <h2>{{ speaker.name }}</h2>
        </a>
        <div *ngIf="!speaker.bio">
          <i class="fas fa-user-tie"></i>
          <h2>{{ speaker.name }}</h2>
        </div>
      </div>
    </div>
  </article>
</main>
<main *ngIf="!allSpeakers" class="speaker">
  <article>
    <img
      src="{{ speakerModel.thumbnail }}"
      alt="{{ speakerModel.name }}"
      class="center">
    <h1 class="page-title">{{ speakerModel.name }}</h1>
    <div [innerHtml]="speakerModel.bio | safeHtml"></div>
  </article>
</main>
